.idea/doozy.iml
.idea/misc.xml
.idea/workspace.xml
src/core
src/gui/__pycache__/__init__.cpython-35.pyc
src/gui/__pycache__/download.cpython-35.pyc
src/gui/__pycache__/filetreeview.cpython-35.pyc
src/gui/__pycache__/gui.cpython-35.pyc
src/gui/__pycache__/markingwidget.cpython-35.pyc
src/gui/__pycache__/modelingoption.cpython-35.pyc
src/gui/__pycache__/orderexcute.cpython-35.pyc
src/gui/__pycache__/orderwidget.cpython-35.pyc
src/gui/__pycache__/output.cpython-35.pyc
src/gui/__pycache__/visual.cpython-35.pyc
src/module/__pycache__/__init__.cpython-35.pyc
src/module/__pycache__/backtesting.cpython-35.pyc
src/module/__pycache__/classifier.cpython-35.pyc
src/module/__pycache__/createorder.cpython-35.pyc
src/module/__pycache__/io.cpython-35.pyc
src/module/__pycache__/marking.cpython-35.pyc
src/module/__pycache__/SA.cpython-35.pyc
src/module/__pycache__/technicalanalysis.cpython-35.pyc
src/module/__pycache__/test.cpython-35.pyc
src/module/__pycache__/yamlread.cpython-35.pyc
test/__pycache__/download.cpython-37.pyc
test/__pycache__/filetreeview.cpython-37.pyc
test/__pycache__/markingwidget.cpython-37.pyc
test/__pycache__/modelingoption.cpython-37.pyc
test/__pycache__/orderexcute.cpython-37.pyc
test/__pycache__/output.cpython-37.pyc
